<div class="d-flex justify-content-center w-100">
  <div class="col-lg-5 col-md-7 col-11 ">
<div class="container" [hidden]="submitted">
  <div [hidden]="register" >
  <h2>Login : </h2>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <div class="form-group">
      <label for="name">UserName</label>
      <input type="text" id="name" placeholder="enter your name ..." name="userId" class="form-control" [formControl]="userId">
      <div [hidden]="userId.valid || userId.untouched">
        <div class="color-red"  [hidden]="!userId.hasError('required')">
          The Name is Required
        </div>
        <div class="color-red"  [hidden]="!userId.hasError('minlength')">
          The Name is min
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" id="password" placeholder="enter your password ..." name="pass" class="form-control" [formControl]="pass">
      <div [hidden]="pass.valid || pass.untouched">
        <div class="color-red"  [hidden]="!pass.hasError('required')">
          The password is Required
        </div>
        <div class="color-red"  [hidden]="!pass.hasError('minlength')">
          The password is min
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="color-red mb-2"  [hidden]="!error"> data is incorrect</div>
      <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
      <div  class="px-2 btn btn-success" (click)="register = true" >register</div>
    </div>
  </form>

  </div>
  <div [hidden]="!register" >
    <h2>register : </h2>
    <form [formGroup]="registerForm" (ngSubmit)="registerf(registerForm.value)">
      <div class="form-group">
        <label for="nameReg">UserName</label>
        <input type="text" id="nameReg" placeholder="enter your name ..." name="userIdReg" class="form-control" [formControl]="userIdReg">
        <div [hidden]="userIdReg.valid || userIdReg.untouched">
          <div class="color-red"  [hidden]="!userIdReg.hasError('required')">
            The Name is Required
          </div>
          <div class="color-red"  [hidden]="!userIdReg.hasError('minlength')">
            The Name is min
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="passwordReg">password</label>
        <input type="password" id="passwordReg" placeholder="enter your password ..." name="passwordReg" class="form-control" [formControl]="passwordReg">
        <div [hidden]="passwordReg.valid || passwordReg.untouched">
          <div class="color-red"  [hidden]="!passwordReg.hasError('required')">
            The password is Required
          </div>
          <div class="color-red"  [hidden]="!passwordReg.hasError('minlength')">
            The password is min
          </div>
        </div>
      </div>

      <div class="form-group">

        <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">register</button>

      </div>
    </form>
  </div>
</div>

<div class="container" [hidden]="!submitted">
  <div [hidden]="editing">
    <div *ngIf="name != null">

      <h4 >name : {{ name}}</h4>
    </div>

    <div *ngIf="name == null">
    <h4 >name : withoute name</h4>
    </div>
  <button class="btn btn-danger" (click)="submitted = false">logOut</button>
  <button class="btn btn-success" (click)="editing = true">edit</button>
  </div>
  <div [hidden]="!editing">
    <h2>edit : </h2>
    <form [formGroup]="profileForm" (ngSubmit)="profile(profileForm.value)">
      <div class="form-group">
        <label for="nameE">Name</label>
        <input type="text" id="nameE" value="{{name}}" placeholder="enter your name ..." name="nameE" class="form-control" [formControl]="nameE">
        <div [hidden]="nameE.valid || nameE.untouched">
          <div class="color-red"  [hidden]="!nameE.hasError('required')">
            The Name is Required
          </div>
          <div class="color-red"  [hidden]="!nameE.hasError('minlength')">
            The Name is min
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="color-red mb-2"  [hidden]="!errorE"> data is incorrect</div>
        <button type="submit" class="btn btn-success" [disabled]="!profileForm.valid">ok</button>
      </div>
    </form>
  </div>
</div>
  </div>
</div>
